# Obtainable from Shopify Admin > Headless Storefront API Settings
NEXT_PUBLIC_SHOPIFY_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_PRIVATE_STOREFRONT_ACCESS_TOKEN=
SHOPIFY_STORE_DOMAIN=
SHOPIFY_REVALIDATION_SECRET=
# Obtainable from Shopify Storefront API Refence > Endpoints and Queries
GRAPHQL_API_ENDPOINT=
SITE_NAME=

